:root {
    background-color: #1f1c27;
    background-image: url(images/texture2.jpg);
    bleed: 100px;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: 'Lucida Sans', 'outfit';
    /* color-scheme: #ba85ec, #9333ea, #33143b; */
}

body h1 {
    font-size: 48px;
}

body h2 {
    font-size: 40px;
    opacity: 70%;
}

body h3 {
    font-size: 24px;
}

body h6 {
    font-size: 18px;
}

.card {
    border: 0.1px solid #3d3d3d !important;
}

.card-div {
    border: 0.1px solid #3d3d3d !important;
    backdrop-filter: blur(20px);
}

.ctaMain {
    color: #ffffff;
    background-image: linear-gradient(135deg, #340064, #5a1897, #9333EA, #bc84f0) !important;
    border: 3px solid #9333EA;
    transition: ease-in-out 500ms;
    /* transition-timing-function: ease-in-out;
    transition-duration:  1000ms; */
}

.ctaMain:hover {
    border: 3px solid #b96fff;
    translate: 0px -10px;
    /* scale: 1.1; */
}

div + img {
    border-radius: 50%;
    opacity: 0.5;
    /* height: max-content; */
} 

div h6 {
    font-family: "outfit";
    font-weight: 100;
} 

footer {
    background-image: linear-gradient(135deg, rgb(51, 20, 59, 0.8), rgba(37, 13, 48, 0.8));
    /* opacity: 10%; */
}

.hero-section {
    font-family: 'Outfit';
}

.messageBox {
    color-scheme: #23122D;
}

nav h3 {
    font-family: "Kaufmann BT";
    /* font-family: "Kunstler Script"; */
    /* font-family: "Rage"; */
    /* font-family: "Pristina"; */
    /* font-family: "Brush Script MT"; */
    /* font-family: "Embassy"; */
    /* font-family: "cursive"; */
}

.purple_grad {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #ba85ec, #9333ea7c, #9333ea90, #9333ea60, #9333ea30, #9333ea00);
    padding: 10px;
    backdrop-filter: blur(10px);
    /* opacity: 50%; */
    /* border-radius: 100%;
    position: relative; */
    /* text-align: center; */
    /* box-sizing: border-box; */
}

/* .purple_grad::before {
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-radius: 100%;
    content: '';
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    position: absolute;
    z-index:-1;
} */

.subHead {
    font-size: 48px;
    font-weight: 500;
}

.tech-stacks {
    background: #ffffff10;
    backdrop-filter: blur(3px);
    width: 100% !important;
    /* padding: 0px 0px 128px; */
}

.themeColor {
    color: #36266b;
    border: 1px solid #36266b;
}


::-webkit-scrollbar {
    background-color: #ffffff;
    width: 10px;
    /* border: 3px solid #fd0c0c; */
}

::-webkit-scrollbar-thumb {
    background-color: #170924;
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background-color: #211230;
}

@media only screen and (max-width: 1600px) {
    body h1 {
        font-size: 40px;
    }

    .purple_grad {
        height: 520px !important;
        width: 520px !important;
    }
}

@media only screen and (max-width: 1300px) {
    body h1 {
        font-size: 36px;
    }

    body h2 {
        font-size: 36px;
    }

    body h6 {
        font-size: 18px;
    }

    .purple_grad {
        height: 410px !important;
        width: 410px !important;
    }
}

@media only screen and (max-width: 1050px) {
    body h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1025px) {
    .purple_grad {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    body h1 {
        font-size: 40px;
    }

    body h2 {
        font-size: 32px;
    }

    body h6 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
    body h1 {
        font-size: 48px;
    }

    body h2 {
        font-size: 24px;
    }

    body h6 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 540px) {
    body h1 {
        font-size: 32px;
    }

    body h2 {
        font-size: 18px;
    }

    body h6 {
        font-size: 12px;
    }
}