:root {
    background-color: #272727;
    background-image: url(images/texture2.jpg);
    bleed: 100px;
    background-size: cover;
    background-blend-mode: multiply;
}

.hero-section {
    font-family: 'Outfit';
}

body h1 {
    /* background-color: #200000; */
    font-size: 48px;
}

.purple_grad {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #ba85ec, #9333ea7c, #9333ea90, #9333ea60, #9333ea30, #9333ea00);
    border-radius: 100%;
    position: relative;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.purple_grad::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    position: absolute;
    z-index:-1;
}

.subHead {
    font-size: 48px;
    font-weight: 500;
}

div + img {
    border-radius: 50%;
    opacity: 0.5;
    /* height: max-content; */
} 

.card {
    border: 0.1px solid #3d3d3d !important;
    height: 383px;
}

@media only screen and (max-width: 700px) {
    body h1 {
        /* background-color: #200000; */
        font-size: 56px;
    }
}

@media only screen and (max-width: 640px) {
    body h1 {
        /* background-color: #200000; */
        font-size: 48px;
    }
}

@media only screen and (max-width: 540px) {
    body h1 {
        /* background-color: #200000; */
        font-size: 32px;
    }
}